$verde: #4CA866;
$verde_hover: #9DCFAB;
$flama: #E4572E;
$coral: #eacb31;
$azul: #3C91E6;
$isabelline: gray;

/*positions*/
$div1_x : 0rem;
$div1_y : 0rem;
$div2_x : 56.188rem;
$div2_y : 27.5rem;
$div3_x : 52.5rem;
$div3_y : 27.5rem;
/* ... no more, i'm so leAzy */