.tituloPrincipal{
    font-size: 25px;    
    font-weight: 800;
    display: inline;
    flex-grow: 1;
}

.texto_boton{
    font-family: "PT Mono", monospace;
    font-weight: 500;
    font-style: normal;
}